.git
.gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.DS_Store

evaluation/*
outputs/*
data/*
ios/*
mobile_app_flutter/*

graph_data/*
!graph_data/airport_index.parquet
!graph_data/route_stats.parquet
!graph_data/route_stats_global.parquet
!graph_data/static_edges.pt

checkpoints/*
!checkpoints/best_model_dep_12k_ordinal_ep25.pt
